.worktrees/
.hydra_cache/
.vscode/
**/__pycache__/
wandb/
.wandb/

package-lock.json

esm/results/
profiling/inputs/
profiling/results/
profiling/plots/outputs/
profiling/src/profile/secret.yaml
profiling/configs/logger/wandb.yaml

/.nextflow*
info/
nf-work/
/results/
*.ncu-rep
*.csv

/.cache/
/.dgl/
/.triton/

outputs/
# Logs
*.log
*.log.*
nextflow/.*.json

