/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for databases links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines pointers to the DBS publicly available that store models parametrisations
    and data.
----------------------------------------------------------------------------------------
*/
params {

    // Colabfold links (for download purposes)
    colabfold_db_link       = 'http://wwwuser.gwdg.de/~compbiol/colabfold/colabfold_envdb_202108.tar.gz'
    uniref30_colabfold_link = 'https://wwwuser.gwdg.de/~compbiol/colabfold/uniref30_2302.tar.gz'

    // Esmfold links
    esmfold_3B_v1                        = 'https://dl.fbaipublicfiles.com/fair-esm/models/esmfold_3B_v1.pt'
    esm2_t36_3B_UR50D                    = 'https://dl.fbaipublicfiles.com/fair-esm/models/esm2_t36_3B_UR50D.pt'
    esm2_t36_3B_UR50D_contact_regression = 'https://dl.fbaipublicfiles.com/fair-esm/regression/esm2_t36_3B_UR50D-contact-regression.pt'

    // Esmfold paths
    esmfold_params_path                         = "${params.esmfold_db}/*"
}
